@import url("reset.css");

/* self-clear floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
/* end of self-clear floats */


/* 320 logical pixels and higher */
@media screen and (min-width: 320px) {
	.amp {
		font-family: Baskerville, "Goudy", "Palatino", "Book Antiqua", Georgia, serif;
		font-style: italic;
	}

	#title {
		display: block;
		background-color: #FFD280;
		padding: 0.8em 5.33333333%; /* 48px / 900px */	
		color: #000000;
		font-size: 1.3em; 
		font-style: normal;
		font-weight: normal;
		font-family: "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;	
	}
	
	#logo-search-set img {
		max-width: 100%;
	}
}
/* end of 320px and more */

/* 1024px logical pixels and higher */
@media screen and (min-width: 1024px) {
	.tab-content {
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}

	.tab-not-selected {
		display: none;
	}

	.tab-selected {
		display: block;    
	}

	#header {
		background-color: #FFFFFF;
		width: 30%; /* 360px / 900px */
		float:left;
	}

	#blog {
		float:left;
		background-color:  #E5F2FF; 
		width: 70%;
	}

	#logo-search-set {
		float: right;
	}

	/* Logo search set */
	#logo-search-set img {
		max-width: 100%;
	}

	#logo-search-set fieldset {
		margin: 0 auto;
		text-align: center;
		display: block;		
		max-width: 22.5em; /* 360 / 16 */
		background-color: #FFFFFF;	
	}

	#logo-search-set form {
		display: block;
		text-align: center;
		padding-right: 0.5em;
		padding-left: 0.5em;
		max-width: 100%;
	}

	#logo-search-set legend {
		font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin-left: 0.4em;
		font-size: 0.8em;
		text-align: center;
		text-transform: capitalize;
		display: block;
		margin: 0;
		padding: 0;
	}

	#search-field {
		border: 0.25em solid #C1CED9;/*#CBE6FF; /*4px = 4 / 16*/
		background:url(../images/search.png) no-repeat /*#F1F8FF*/#E5F2FF;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em;
		-moz-border-radius: 2em 2em 2em 2em;
		padding: 0;
		height: 1.7em;  
		text-indent: 2.2em;
	}

	#search-field:focus{
		background:url(../images/search.png) no-repeat /*#F1F8FF*/#E5F2FF;
		border: 0.25em solid #336699; /*4px = 4 / 16*/	
	}	

	/* #search-field {
		line-height: 1.4em; 
		border: 0.0625em;

		width: 60%; 
		display: inline;
		background: url(/images/search.png) no-repeat #FFFFFF;	
		margin: 1%;
	}

	#search-field:focus{
		background:url(/images/search.png) no-repeat #FFFCCC;
		outline: none;	
	}	 */

	#submit {
		width: 15%;
		font-size: 1em;
		font-weight: bold;
		text-transform: capitalize;
		display: inline;
		height: 1.5em;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em; 
		-moz-border-radius: 2em 2em 2em 2em; 
		border-width: 0.0625em;
		border-style: solid;
		border-color: #E6E6E6 #B3B3B3 #CCCCCC;
		background: #E6E6E6;
	}

	#submit:hover {
		font-size: 1em;
		background: #B1DAFF;
		background-image: -moz-linear-gradient(#5981A5, #B1DAFF);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #7799BB),color-stop(1, #5981A5));
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em;
		-moz-border-radius: 2em 2em 2em 2em;
		cursor: pointer;	
	}

	#submit:active {
		background: #B1DAFF;
		font-size: 1em;
		outline: none;
		-moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		-webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em; 
		-moz-border-radius: 2em 2em 2em 2em; 
	}

	#submit::-moz-focus-inner {
		border: 0;  /* Small centering fix for Firefox */
	}
		
	#title {
		display: none;
	}
	/* end of logo search set */

#page {
	/* background-color: #FFFFFF;
	width: 100%;
	display: block;
	height: 100%;
	margin: 0em;
	padding: 0em;
	max-width: 110em; */
	}
#header {
	/* background-color: #a7b1df;
 	display: block; */
	/* width: 40%;  */
	/* 360px / 900px */
	/* float: left;
	margin: 5% 0 0 5%;
	width: 30%; */
	/* float:left; */
	}
#blog {
	/* float:left; */
	/* float: right; */
	/* background-color:  #E5F2FF;  */
	/* border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em; */
	/* width: 60%; */
	/* margin: 0 2em 2em 0; */
	}
#blog .main {
	/* background-color: none;
	height: 100%;  */
	/* margin: 0.38em ;  */ /*0.37em;*/
	/* border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em; */
	}	
}
/* end of 1024px logical pixels and higher */