.tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-not-selected {
    display: none;
}

.tab-selected {
    display: block;    
}

/* self-clear floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
/* end of self-clear floats */

body {
	background-color: blanchedalmond;
}