@import url("reset.css");

/* self-clear floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
/* end of self-clear floats */

/* lower than 320 logical pixels */
@media screen and (max-width: 319px) {
	.amp {
		font-family: Baskerville, "Goudy", "Palatino", "Book Antiqua", Georgia, serif;
		font-style: italic;
	}

	#title {
		display: block;
		background-color: #FFD280;
		padding: 0.8em 5.33333333%; /* 48px / 900px */	
		color: #000000;
		font-size: 1.3em; 
		font-style: normal;
		font-weight: normal;
		font-family: "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;	
	}
	
	/* logo search set */
	#smartphone-logo {
		max-width: 100%;
		display: block;
	}

	#desktop-logo {
		display: none;
	}
	/* end of logo search set */
}
/* end of lower than 320 logical pixels */

/* 320 logical pixels and higher */
@media screen and (min-width: 320px) {
	.amp {
		font-family: Baskerville, "Goudy", "Palatino", "Book Antiqua", Georgia, serif;
		font-style: italic;
	}

	#title {
		display: block;
		background-color: #FFD280;
		padding: 0.8em 5.33333333%; /* 48px / 900px */	
		color: #000000;
		font-size: 1.3em; 
		font-style: normal;
		font-weight: normal;
		font-family: "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;	
	}
	
	/* logo search set */
	#smartphone-logo {
		max-width: 100%;
		display: block;
	}

	#desktop-logo {
		display: none;
	}
	/* end of logo search set */
}
/* end of 320px and more */

/* 1024px logical pixels and higher */
@media screen and (min-width: 1024px) {
	.navbar {
		margin-left: 3.5em;
	}

	.tab-content {
		background-color: #FFFFFF;
		padding: 0em;
		margin-right: 0.5em;
		margin-left: 2em;
		border: 0.5em solid #336699;
		border-radius: 1.5em;
		-webkit-border-radius: 1.5em;
		-moz-border-radius: 1.5em;	
	}

	.tab-not-selected {
		display: none;
	}

	.tab-selected {
		display: block;    
	}

	#contact-us-btn {
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: bold;
		visibility: visible;
		float: left;
		margin-top: 5em;
		margin-left: 15em;
		margin-bottom: 3em;
		-moz-box-shadow: 3px 6px 20px 2px rgba(119, 119, 119, 0.5);
		-webkit-box-shadow: 3px 6px 20px 2px rgba(119, 119, 119, 0.5);
		box-shadow: 3px 6px 20px 2px rgba(119, 119, 119, 0.5);
		border: 0.099995em solid #000000;
		border-radius: 5em;
		-webkit-border-radius: 5em;
		-moz-border-radius: 5em;
		display: block;
		width: 7em;
		height: 7em;
		position: relative;
		background-color: #99CC33;
		display: block;
		cursor: pointer;
	}

	#contact-us-btn:hover {
		background-color: #DDEEBB;
		visibility: visible;
		color: #669966;
	}

	#contact-us-btn span {
		float: none;
		background-color: none;
		visibility: visible;
		font-size: 1.1em;
		line-height: 1.2em;
		position: relative;
		top: 1.5em;
		width: 90%;
		padding: 0;
		font-size: 1em;
		text-decoration: none;
		text-align: center;
		vertical-align: baseline;
	}
	
	.horizontal-tab {
		background-color: #336699;
		color: #FFFFFF;
		padding-top: 2.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0;
		line-height: 1.1em;
		font-weight: bold;
		font-size: 1.3em;
		border: 0.5em solid #336699;
		border-bottom: none;
		border-radius: 360px 360px 0 0;
		-webkit-border-radius: 360px 360px 0 0;
		-moz-border-radius: 360px 360px 0 0;
		height: 1em;
		/* position: relative; */
		bottom: -0.7em;
		width: 5.6em;
		height: 1.2em;
		display: block;
		font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
		width: 5.7em;
		float: left;
		margin-left: 1em;
		margin-bottom: -0.4em;
		cursor: pointer;
		/* padding-top: 1.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;

		line-height: 1em;
		font-weight: bold;
		font-size: 1.3em;
		border-top: 0.5em solid #336699;

		border-bottom-left-radius: 3px;
		background-color: #FFFFFF;
		border-radius: 360px 360px 0 0;
		-webkit-border-radius: 360px 360px 0 0;
		-moz-border-radius: 360px 360px 0 0;
		width: 8em;
		height: 4em;
		stroke-linecap: round; */
		
		/* color: #000000;
		height: 1.2em;
		position: relative;
		bottom: -0.7em;
		background-color: #FFFFFF;
		font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif; */
	
	
		/* box-shadow: none;
    border: 0.0625em solid #afafaf;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    display: block;
    width: inherit;
    height: 3.25em;
    position: relative;
    float: left; */
	}

	.active {
		background-color: #FFFFFF;
		color: #000000;
	}
	.horizontal-tab span {
		font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
		font-size: 1.1em;
		text-align: center;
	}

	/* .horizontal-tab:after {
		-webkit-box-sizing: none;
		-moz-box-sizing: none;
		box-sizing: border-box;
		border: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		box-shadow: none;
		content: '';
		display: block;
		position: absolute;
		width: 5.9375em;
		height: 2.9375em;
		top: 0.1875em;
		left: 0.1875em;
	} */

	#contact-us-btn:after {
		border: 0.25475em dashed rgba(0,0,0,0.6);
		border-color: #FFFFFF;
		-webkit-border-radius: 5em;
		-moz-border-radius: 5em;
		box-shadow: none;
		content: '';
		display: block;
		/* position: absolute; */
		position: static;
		margin-left: -0.185em;
		margin-top: -3.6em;
		width: 5.835em;
		height: 5.835em;
	}
	
	#header {
		background-color: #FFFFFF;
		width: 30%; /* 360px / 900px */
		float:left;
		margin-top: 4.5em;
	}

	#blog {
		float:left;
		width: 70%;
	}

	#logo-search-set {
		float: right;
	}

	/* logo search set */
	#desktop-logo {
		max-width: 100%;
		display: block;
	}

	#smartphone-logo {
		display: none;
	}

	#logo-search-set fieldset {
		margin: 0 auto;
		text-align: center;
		display: block;		
		max-width: 22.5em; /* 360 / 16 */
		background-color: #FFFFFF;	
	}

	#logo-search-set form {
		display: block;
		text-align: center;
		padding-right: 0.5em;
		padding-left: 0.5em;
		max-width: 100%;
	}

	#logo-search-set legend {
		font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin-left: 0.4em;
		font-size: 0.8em;
		text-align: center;
		text-transform: capitalize;
		display: block;
		margin: 0;
		padding: 0;
	}

	#search-field {
		border: 0.25em solid #C1CED9;/*#CBE6FF; /*4px = 4 / 16*/
		background:url(../images/search.png) no-repeat /*#F1F8FF*/#E5F2FF;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em;
		-moz-border-radius: 2em 2em 2em 2em;
		padding: 0;
		height: 1.7em;  
		text-indent: 2.2em;
	}

	#search-field:focus{
		background:url(../images/search.png) no-repeat /*#F1F8FF*/#E5F2FF;
		border: 0.25em solid #336699; /*4px = 4 / 16*/	
	}	

	#submit {
		width: 15%;
		font-size: 1em;
		font-weight: bold;
		text-transform: capitalize;
		display: inline;
		height: 1.5em;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em; 
		-moz-border-radius: 2em 2em 2em 2em; 
		border-width: 0.0625em;
		border-style: solid;
		border-color: #E6E6E6 #B3B3B3 #CCCCCC;
		background: #E6E6E6;
	}

	#submit:hover {
		font-size: 1em;
		background: #B1DAFF;
		background-image: -moz-linear-gradient(#5981A5, #B1DAFF);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #7799BB),color-stop(1, #5981A5));
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em;
		-moz-border-radius: 2em 2em 2em 2em;
		cursor: pointer;	
	}

	#submit:active {
		background: #B1DAFF;
		font-size: 1em;
		outline: none;
		-moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		-webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
		border-radius: 2em 2em 2em 2em; 
		-webkit-border-radius: 2em 2em 2em 2em; 
		-moz-border-radius: 2em 2em 2em 2em; 
	}

	#submit::-moz-focus-inner {
		border: 0;  /* Small centering fix for Firefox */
	}
		
	#title {
		display: none;
	}
	/* end of logo search set */
}
/* end of 1024px logical pixels and higher */