@import url("reset.css");
@import url("ie.css");
/* MASTER.CSS
---------------------------------- */
/*
Title: Master styles for screen media
*/

/* MOBILE PHONES (from 240)*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-size: 100%;
	background: #FFFFFF;
	}

/* page structure
---------------------------------- */

#page {
	}
#footer {
	}
#breadcrumbs {
	text-align: center;
	background-color: #FFFFFF;
	margin-top: 1.5em;
	}
a:link#breadcrumbs, a:visited#breadcrumbs {
	display: inline;
	width: 100%;
	color: blue;
	}
a:hover#breadcrumbs {
	display: inline;
	text-decoration: underline;
	color: blue;
	width: 100%;
	}
a:active#breadcrumbs {
	display: inline;
	text-decoration: none;
	color: orange;
	width: 100%;
	} 
/* header
---------------------------------- */

/* logo */

#logo {
	}
#logo img{
	max-width: 100%;
	}

/* links */
 
a:link, a:visited {
	color: #369;
	outline: none;
	display: block;
	margin: 0.0625em 0em 0.0625em 0em;
	background-color: #C1CED9;
	text-align: center;
	
	padding: 0.5em 0em 0.5em 0em;
	font-size: 1.5em;
	}
a:hover {
	color: #39C;
	background-color: #FFFFFF;
	font-size: 1.5em;
	}
a:active {
	color: #FFFFFF;
	background-color: #336699;
	font-size: 1.5em;
	}

/* nav */  

#tabs-container {
	background-color: #336699;
	padding: 0em;
	margin: 0em;
	border: 0em solid black; 
	visibility: visible;
	width: 100%;
	position: static;
	display: block;
	}
#imp-container {
	background-color: #FFFFFF;
	/*padding: 1em;*/
	color: #336699;
	display: block;
	position: static;
	border: 0.5em solid #336699;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;	
	}
/*
#nav {
width:100%;
	}
	
#nav li {
	display: block;	
	}
*/

/* search */

#fieldset {
	margin: 0 auto;
	text-align: center;
	display: block;		
	background-color: #000000;
}
#form {
	background-color: #none;	
	display: block;
	text-align: center;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 1em;
	vertical-align: top;
	line-height: 1em;
}
#search-legend {
	font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #FFFFFF;
	margin-left: 0.4em;
	font-size: 0.8em;
	text-transform: uppercase;
	display: block; 
	margin: 0;
	padding: 0;
	}
.legend {
	color: #FFFFFF;	 
	display: block;
	margin: 0;
	padding: 0;
	}
#search-field {
	height: 1.7em;  
	line-height: 1.4em; 
	border: 0.0625em;
	text-indent: 2.2em;
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em;
	-moz-border-radius: 2em 2em 2em 2em;
	padding: 0;
	width: 60%; 
	display: inline;
	background: url(/images/search.png) no-repeat #FFFFFF;	
	margin: 1%;
	}
#search-field:focus{
	background:url(/images/search.png) no-repeat #FFFCCC;
	outline: none;	
	}	
#submit {
	font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;	
	width: 13%;
	font-size: 1em;
	font-weight: bold;
	text-transform: capitalize;
	display: inline;
	height: 1.5em;
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em; 
	-moz-border-radius: 2em 2em 2em 2em; 
	border-width: 0.0625em;
    border-style: solid;
    border-color: #B1DAFF #668098 #336699;
	background: #B1DAFF;
	padding: 0;
	}
#submit:hover {
	font-size: 1em;
    background: #B1DAFF;
    background-image: -moz-linear-gradient(#5981A5, #B1DAFF);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #B1DAFF),color-stop(1, #5981A5));
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em; 
	-moz-border-radius: 2em 2em 2em 2em; 
	}
#submit:active {
    background: #B1DAFF;
	font-size: 1em;
    outline: none;
    -moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em; 
	-moz-border-radius: 2em 2em 2em 2em; 
	}
#submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
	}

/* page	
---------------------------------- */

#page {
	width: 100%; /*960px*/
	background-color: #FFFFFF;	
	}
.shadow {  
    -webkit-box-shadow: 0 0 30px #969696;
    -moz-box-shadow: 0 0 30px #969696;
    box-shadow: 0 0 30px #969696;
	}
#lede {
	background-color: #FFD280;
	padding: 0.8em 5.33333333%; /* 48px / 900px */	
	color: #000000;
	font-size: 1.3em; 
	font-style: normal;
	font-weight: normal;
	font-family: "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;	
	visibility: visible;
	}
.amp {
	font-family: Baskerville, "Goudy", "Palatino", "Book Antiqua", Georgia, serif;
	font-style: italic;
	
	}
.blog {
	width: 100%; /* 900px / 900px */
	background-color: #FFFFFF;
	float: left;
	}
.blog .other {
	display: block;
	float: none;
	width: 100%; /* 331px / 900px */
	background-color: #F0F0F0;		
	}
.blog .main {
	float: none;
	width: 100%; /* 566px / 900px */	
	background-color: none; 
	display: block;
	}	
.lede-of-main-article {
	font-size: 1.85em; /* 17px / 16px */
	}
.date {
	font-size: 1,25em; /* 20px / 16px*/
	color: #336699;
	width: 100%;
	margin: 1.063829787234043%; /* 5px / 470px */
	}
.article {
	font-size: 1.5em;
	background-color: #FFFFFF;
	padding: 1.76678445229682%; /* 10px / 566px */
	width: 83.03886925795053%; /* 470px / 566px */
	margin: 8.480565371024735% auto; /* 48px / 566 */
	line-height: 150%; /* space between strings of text 
						  100% = height of letter, in 
						  our case it equals to 16px */
	}
.recent-entries {
	font-size: 1.5em;
	background-color: #FFFFFF;
	margin: 14.50151057401813% auto; /* 48px / 331px */
	width: 69.7885196%; /* 231px / 331px */
	padding: 4.329004329004329%; /* 10px / 231px */	
	line-height: 150%; /* space between strings of text 
						  100% = height of letter, in 
						  our case it equals to 16px */
	}
	
/* footer
---------------------------------- */

#footer {
	background-color: #FFD280;
	margin: 0em;
	width: 100%;
	}
.copyright {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 1em;
	padding: 0.5em;
	}
	
/* misc.
---------------------------------- */

hr, .hide {
	display: none;
	}
a img {
	border: none;
	}
.breadcrumbs-vis-switcher {
	visibility: hidden;
	height: 0;
	}
#green-button, #green-button span{
	visibility: hidden;
	height: 0;
	position: absolute;
	}
.link-vis-switcher {
	visibility: visible;
	}
.step-num {
	visibility: hidden;
	position: absolute;
	}

/* self-clear floats */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#tabs-container {
	background-color: #FFFFFF;/*blue;*/
	padding: 0em;
	margin: 0em;
	visibility: visible;
	width: 100%;
	position: static;
	display: block;
	}

#imp-container {
	background-color: #FFFFFF;
	margin: 0em 0em 0em 0em;
	padding: 0.5em;
	color: #336699;
	display: block;
	position: static;
	/*border: 0.1em solid #FFFFFF;*/
	border: none;
	/*z-index:5; */
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;	
	}	
/* welcome tab >= 240 */

#step-num-lede {
	font-family: Cambria, "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 200%;
	text-align: left;
	font-weight: normal; 
	color: #7799BB;
	}
#portf-gr {
	font-family: "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 100%;
	text-align: center;
	font-weight: normal; 
	color: #000000;	
	padding: 3%;
	}
#welcome-lede {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 200%;
	
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;
	}
#welcome-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#price-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#step-0 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
#pic-roc-st {
	max-width: 60%;
	float: none;
	display: block;
	margin: 0em auto;
	}
#pic-resp {
	float: none;
	max-width: 50%;
	margin: 0em;
	}
#step-0 p {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.3em;
	float: none;
	display: inline;
	line-height: 1.9em;
	color: #727271;
	width: 50%;
	}
	
/* end of welcome >= 240 */
/* portfolio for >=240 */

#step-2 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
.portfolio h2{
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 220%;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;	
	}
#pic-roc-fly{
	max-width: 80%;
	float: right;
	display: block;
	margin: 0.1em;
	}
#telephone {
	max-width: 80%;
	float: right;
	display: block;
	margin: 0.1em;
	}
#pic-portf {
	border: 0.1em double #CCCCCC;
	margin: auto;
	float: none;
	padding: 0em;
	display: block;
	max-width: 60%;
	margin-bottom: 2em;
	}
	
/* end of portfolio for >=240 */

/* contact us for >=240*/

#step-3 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
	}
	
/* end of contact us for >=240*/

/* products */
#step-1 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
}
#step-1 img{
	max-width: 80%;
	float: right;
	display: block;
	margin: 2em;
	}
/* for all: from 240 to 359 */	
	

/*-  MEDIA QUERIES
----------------------------------------------------------------------*/

/* Disable iOS/WinMobile font size changes */

@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

/* 320px and more*/

@media screen and (min-width: 320px) {
#logo {
	text-align: center;
	}
#lede {
	visibility: hidden;
	height: 0em;
	position: absolute;
	}
#footer {
	background-color: #336699;
	color: #FFFFFF;
	}
#fieldset {
	margin: 0 auto;
	text-align: center;
	display: block;		
	max-width: 22.5em; /* 360 / 16 */
	background-color: #FFFFFF;	
	}
#form {
	background-color: none;		
	display: block;
	text-align: center;
	padding-right: 0.5em;
	padding-left: 0.5em;
	/*padding-bottom: 1em;*/
	vertical-align: top;
	max-width: 100%;
	}
.legend {
	color: #000000;	 
	display: block;
	margin: 0;
	padding: 0;
	}
#search-legend {
	font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 0.4em;
	font-size: 0.8em;
	text-align: center;
	text-transform: capitalize;
	display: block;
	margin: 0;
	padding: 0;
	}
#search-field {
	border: 0.25em solid #C1CED9;/*#CBE6FF; /*4px = 4 / 16*/
	}
#search-field:focus{
	background:url(/images/search.png) no-repeat /*#F1F8FF*/#E5F2FF;
	border: 0.25em solid #336699; /*4px = 4 / 16*/	
	}	
#submit {
	width: 15%;
	font-size: 1em;
	font-weight: bold;
	text-transform: capitalize;
	display: inline;
	height: 1.5em;
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em; 
	-moz-border-radius: 2em 2em 2em 2em; 
	border-width: 0.0625em;
    border-style: solid;
    border-color: #E6E6E6 #B3B3B3 #CCCCCC;
	background: #E6E6E6;
	}
#submit:hover {
	font-size: 1em;
    background: #B1DAFF;
    background-image: -moz-linear-gradient(#5981A5, #B1DAFF);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #7799BB),color-stop(1, #5981A5));
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em;
	-moz-border-radius: 2em 2em 2em 2em;
	}
#submit:active {
    background: #B1DAFF;
	font-size: 1em;
    outline: none;
    -moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.5) inset;
	border-radius: 2em 2em 2em 2em; 
	-webkit-border-radius: 2em 2em 2em 2em; 
	-moz-border-radius: 2em 2em 2em 2em; 
	}
#submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
	}
.lede {
	background-color: #FFFFFF;
	padding: 0;
	text-align: center;
	height:0;
	visibility: hidden;
	}
UL.mytabs {
	position: static;
	} 	
a:link, a:visited {
	outline: none;
	display: block;
	margin: 0;
	background-color: #000000;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	}
a:hover {
	background-color: #336699;
	font-size: 1em;
	}
a:active {
	background-color: #FFFFFF;
	font-size: 1em;

	} 
#nav {
	margin: 0 auto;
/*	background-color: blue;*/
	width: 16em;
	display: block;
	height: 1em;
	}
#nav-container {
	width: 100%;
	display: block;
	height: 1em;
	margin: 0em auto;
	}
#tabs {
	margin: 0 auto;
	width: 16em;
	display: block;
	height: 0.1em;	
	background-color: none;
	position: static;
	margin: 0em auto;
	}	
.badge {
	box-shadow: 0.0625em 0.0625em 0.0625em rgba(255,255,255,0.5) inset, 0.0625em 0.0625em 0.125em rgba(0,0,0,0.2);
	border: 0.0625em solid #afafaf;
	border-radius: 3.125em;
	-webkit-border-radius: 3.125em;
	-moz-border-radius: 3.125em;
	display: block;
	width: 6.25em;
	height: 6.25em;
	position: relative;
	float: left;
	}
a.badge {
	margin: 0.8em;
	}
	
	
/* Прошивка */

.badge:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.09375em dashed rgba(0,0,0,0.6);
	border-radius: 3.125em;
	-webkit-border-radius: 3.125em;
	-moz-border-radius: 3.125em;
	box-shadow: 0 0.0625em 0 rgba(255,255,255,0.2);
	content: '';
	display: block;
	position: absolute;
	width: 5.9375em;
	height: 5.9375em;
	top:  0.1875em;
	left: 0.1875em;
	}
	
/* Иконки */

.badge:before {
	content: '';
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	}
.badge.products {
	background-image:url(/images/smart-phone/links/products.png);
	}
.badge.portfolio {
	background-image:url(/images/smart-phone/links/portfolio.png);
	}
.badge.about {
	background-image:url(/images/smart-phone/links/about.png);
	}
.badge.order {
	background-image:url(/images/smart-phone/links/order.png);
	}
.link-vis-switcher {
	visibility: hidden;
	}
.blog .other {
	background-color: #FFFFFF;
	}
.blog .main {	
/*	background-color: #336699; */
	}	
#tabs-container {
	background-color: #FFFFFF;/*blue;*/
	padding: 0em;
	margin: 0em;
	visibility: visible;
	width: 100%;
	position: static;
	display: block;
	}
#tabs {
	margin: 0 auto;
	/*width: 30em;*/
	display: block;
	height: 1em;	
	background-color: none;
	position: static;
	}	
a.badge {
	margin: 0.4em;
	}
#imp-container {
	background-color: #FFFFFF;
	margin: 0em 0em 0em 0em;
	padding: 0.5em;
	color: #336699;
	display: block;
	position: static;
	/*border: 0.1em solid #FFFFFF;*/
	border: none;
	/*z-index:5; */
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;	
	}	
	
/* welcome tab >= 320 */

#step-num-lede {
	font-family: Cambria, "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 4.1em;
	text-align: left;
	font-weight: normal;
	color: #7799BB;
	}
#portf-gr {
	font-family: "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 200%;
	text-align: center;
	font-weight: normal; 
	color: #000000;	
	padding: 3%;
	}
#welcome-lede {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;
	}
#welcome-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.5em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#price-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.5em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#step-0 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
#pic-roc-st {
	max-width: 60%;
	float: none;
	display: block;
	margin: 0em auto;
	}
#pic-resp {
	float: none;
	max-width: 50%;
	margin: 0em;
	}
#step-0 p {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.3em;
	float: none;
	display: inline;
	line-height: 1.9em;
	color: #727271;
	width: 50%;
	}
	
/* end of welcome >= 320 */

}

#link-vis-switcher-gr-button {
	visibility: hidden;
	}


/* 480px and more*/

@media screen and (min-width: 480px) {
#nav {
	margin: 0 auto;
	width: 30em;
	display: block;
	height: 1em;
	}
#nav-container {
	width: 100%;
	display: block;
	height: 1em;
	margin: 0 auto;	
	}
#tabs-container {
	background-color: #FFFFFF;/*blue;*/
	padding: 0em;
	margin: 0em;
	visibility: visible;
	width: 100%;
	position: static;
	display: block;
	}
#tabs {
	margin: 0 auto;
	width: 30em;
	display: block;
	height: 1em;	
	background-color: none;
	position: static;
	}	
a.badge {
	margin: 0.4em;
	}
#imp-container {
	background-color: #FFFFFF;
	margin: 0em 0em 0em 0em;
	padding: 0.5em;
	color: #336699;
	display: block;
	position: static;
	/*border: 0.1em solid #FFFFFF;*/
	border: none;
	/*z-index:5; */
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;	
	}	
/* welcome tab >= 480 */
#step-num-lede {
	font-family: Cambria, "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 4.1em;
	text-align: left;
	font-weight: normal;
	color: #7799BB;
	}
#welcome-lede {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;
	}
#welcome-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 1em;
	font-size: 1.5em;
	float: left;
	width: 44%;
	line-height: 1.7em;
	color: #727271;
	}
#price-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.7em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#step-0 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
#pic-roc-st {
	max-width: 40%;
	float: none;
	display: block;
	margin: 2em;
	}
#pic-resp {
	float: left;
	max-width: 50%;
	margin: 0em;
	}
#step-0 p {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.3em;
	float: right;
	display: inline;
	line-height: 1.9em;
	color: #727271;
	width: 50%;
	}
	
/* end of welcome >= 480 */

/* portfolio for >=480 */

#step-2 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
.portfolio h2{
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;	
	}
#pic-roc-fly{
	max-width: 80%;
	float: right;
	display: block;
	margin: 0.1em;
	}
#pic-portf {
	border: 0.1em double #CCCCCC;
	margin: auto;
	float: none;
	padding: 0em;
	display: block;
	max-width: 60%;
	margin-bottom: 2em;
	}
/* end of portfolio for >=480 */


}

#link-vis-switcher-gr-button {
	visibility: hidden;
	}

/* 1024px and more*/

@media screen and (min-width: 1024px) {

.breadcrumbs-vis-switcher {
	visibility: visible;
	height: 1.5em;
	}
#page {
	background-color: #FFFFFF;
	width: 100%;
	display: block;
	height: 100%;
	margin: 0em;
	padding: 0em;
	}
#header {
	background-color: #FFFFFF;
	display: block;
	width: 40%; /* 360px / 900px */
	float: left;
	}
.blog {
	float: right;
	background-color: none; 
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	width: 60%;
	margin: 0 2em 2em 0;
	}
.blog .main {
	background-color: none;
	/*width: 98.5%;*/
	height: 100%; 
	margin: 0.38em ; /*0.37em;*/
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	}
#header {
	margin: 5% 0 0 5%;
	width: 30%;
	}
#nav {
	width: 100%;
	display: block;
	}
#nav-container {
	display: block;
	float: left;
	width: 60%;/* 666.25px; */
	height: 100%;
	margin: 0em;
	position: static;
	top: 1.5em;
	}
#nav-container div {
	background:url(/images/descktop/pictures/note-e.png) no-repeat;

	position: static;
	display: block;
	/*float: left;*/
	width: 62%;
	height: 100%;
	/*right: 4em;*/
	margin: 0em auto;
	}

#footer {
	float: left;
	position: relative;
	bottom: -8em;
	}
#note {
	position: relative;
	
	left: -3.7em;
	display: block;
	float: left;
	
	max-width: 350px;
	}
#note-2 {
	position: relative;
	float: left;
	display: block;
	background-color: #FFFCCF;
	
	}
#note-3 {
	position: relative;
	display: block;
	float: left;
	left: 1em;
	}
#nav {
	background-color: none;
	width: 95%;
	margin-left: 1.5em; 
	}
#nav a:link, #nav a:visited {
    background-color: #336699;
    background-image: none;
	color:#FFFFFF;
    display: block;
    font-weight: normal;
/*	visibility: visible; */
    line-height: auto;
    text-decoration: none;
    padding: 2em 0em 0em 0em;
 	height: 22px;
	width: 100px;
	margin: 2em 0.2em -0.39em 1.3em;
	border: 0.5em solid #336699;
	border-bottom: none;
	border-radius: 360px 360px 0 0;
	-webkit-border-radius: 360px 360px 0 0;
	-moz-border-radius: 360px 360px 0 0;
	}
#nav span.amp {
	background: none;
	}
#nav span.links {	
	font-size: 1.1em;
	display: block;
	height: 100%;
	vertical-align: top;
}

.step-num {
	visibility: visible;
	position: static;
	}
#nav a:hover {
    background-color: none;
    display:block;
	text-decoration: underline;
	height: 22px;
	}
#nav a:active {
    background-color: #FFFFFF;
	color: #000000;
    display: block;
	height: 22px;
	text-decoration: none;	
	}
#nav a:active .step-num {
	color: #000000;
	text-decoration: none; 	
	}	
/*	margin: 0 auto;
	background-color: blue;
	width: 16em;
	display: block;
	height: 1em; 
	}*/
#nav-container {
/*	background-color: navy;
	width: 100%;
	display: block;
	height: 1em;
	margin: 0 auto; */
	}
	
.badge {
	box-shadow: none;
	border: 0.0625em solid #afafaf;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	display: block;
	width: inherit; /*products нормальная ширина*/
	height: 3.25em;
	position: relative;
	float: left;
	}
a.badge {
	margin: 0.8em;
	}
	
/* Прошивка*/

.badge:after {
	-webkit-box-sizing: none;
	-moz-box-sizing: none;
	box-sizing: border-box;
	border: 0; /*0.09375em dashed rgba(0,0,0,0.6);*/
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius:	0;
	box-shadow: none;
	content: '';
	display: block;
	position: absolute;
	width: 5.9375em;
	height: 2.9375em;
	top:  0.1875em;
	left: 0.1875em;
	} 
	
/* Иконки */

.badge:before {
	content: '';
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	}
.badge.products {
	background-image: none;
	}
.badge.portfolio {
	background-image: none;
	}
.badge.about {
	background-image: none;
	}
.badge.order {
	background-image: none;
	}
.link-vis-switcher {
	visibility: visible;
	}
#green-button {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	visibility: visible;
	float: left;
	margin-top: 5em;
	margin-left: 2.5em;
	margin-bottom: 0; /*-1.9em;*/
	-moz-box-shadow:3px 6px 20px 2px rgba(119, 119, 119, 0.5);
	-webkit-box-shadow:3px 6px 20px 2px rgba(119, 119, 119, 0.5);
	box-shadow:3px 6px 20px 2px rgba(119, 119, 119, 0.5);
	border: 0.099995em solid #000000;
	border-radius: 5em;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	display: block;
	width: 7em;
	height: 7em;
	position: relative;
	background-color: #99CC33;
	display: block;
	}
#green-button:hover {
	background-color: #DDEEBB;
	visibility: visible;
	color: #669966;
	}
#green-button:active {
	background-color: #669966;
	visibility: visible;	
	color: #FFFFFF;
	}
#green-button span {
	float: none;
	background-color: none;
	visibility: visible;
	font-size: 1.1em;
	line-height: 1.2em;
	position: relative;
	top: 1.5em;
	width: 90%;
	}	
#green-button:after {
	/*-webkit-box-sizing: 5em;
	-moz-box-sizing: 5em;
	box-sizing: border-box;*/
	border: 0.25475em dashed rgba(0,0,0,0.6);
	border-color: #FFFFFF;
	border-radius: 5em;
	-webkit-border-radius: 5em;
	-moz-border-radius:	5em;
	box-shadow: none;
	content: '';
	display: block;
	/*position: absolute;*/
	position: static;
	margin-left: 0.4em;
	margin-top: -3.6em;
	width: 5.835em;
	height: 5.835em; 
	/*bottom:  3.7em;
	right: -0.2em;*/
	}	
#link-order a{
	visibility: hidden;
	height: 0em;
	position: absolute;
	}
#link-order {
	visibility: hidden;
	height: 0em;
	position: absolute;
	}
#link-order span{
	visibility: hidden;
	height: 0em;
	position: absolute;
	}
.badge {
	box-shadow: none;
	border: none;
	border-radius: 0em;
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	float: left;
	}
a.badge {
	margin: 0em;
	}
#tabs {
	margin: 0;
	width: 35em;
	display: block;
	height: 5.05em;	 
	background-color: none;
	position: relative;
	left: 4.5em;
	}	
UL.mytabs {
	position: relative;
	z-index: 2; 
	left: 4em;
	} 
UL.mytabs, UL.mytabs LI {     
	margin: 0;     
	padding: 0;     
	list-style: none;     
	float: left; 
	} 
UL.mytabs LI { 
	padding: 0em 0.8em;/*0 1.1em; */
	} 

UL.mytabs LI A {     
	background-color: #336699;
	color: #FFFFFF;
	padding-top: 2.2em;/*1em;*/
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0;/*0.4em;*/
	line-height: 1.1em;
	font-weight: bold;     
	font-size: 1.3em;
	border: 0.5em solid #336699;
	border-bottom: none;
	border-radius: 360px 360px 0 0;
	-webkit-border-radius: 360px 360px 0 0;
	-moz-border-radius: 360px 360px 0 0;
	height: 1.2em;
	position: relative;
	bottom: -0.7em;/*-0.37em;*/
	width: 5.6em;
	font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	} 
UL.mytabs LI A:HOVER, UL.mytabs LI.current A {     
	background-color: #7799BB;
	} 
	
UL.mytabs LI.current A {     
	padding-top: 2.2em; /*1em;*/
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0;/* 0.25em; */
	line-height: 1em;
	font-weight: bold;   
	font-size: 1.3em; /*14px;     */
	border-top: 0.5em solid #336699;
	border-radius: 360px 360px 0 0;
	-webkit-border-radius: 360px 360px 0 0;
	-moz-border-radius: 360px 360px 0 0;
	color: #000000;	
	height: 1.2em;
	position: relative;
	bottom: -0.7em;/*-0.39em;*//*-0.37em;*/
	background-color: #FFFFFF;
	font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	/*z-index:2; */
	} 
.mytabs-container {
	position: relative;
	/*z-index:4; */    
	clear: both;     
	border: 0.5em solid #336699;
	/*padding: 10px;     */
	top: -1px;     
	background: yellow; 
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	margin: 2em;
	padding: 2em;
	}
#tabs-container {
	background-color: #FFFFFF;/*blue;*/
	padding: 0em;
	margin: 0em;
	border: 0.5em solid #336699; 
	visibility: visible;
	width: 100%;
	position: static;
	display: block;
	}
#imp-container {
	background-color: #FFFFFF;
	margin: 0em 0em 0em 0em;
	padding: 0.5em;
	color: #336699;
	display: block;
	position: static;
	/*border: 0.1em solid #FFFFFF;*/
	border: none;
	/*z-index:5; */
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;	
	}
.current .step-num {
	font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 1.3em;
	/*padding-bottom: 1em;*/
	vertical-align: bottom;
	text-decoration: none;
	color: #000;
	}
.step-num {
	font-family: Cambria, "Cambria Math", "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 1.3em;
	/*padding-bottom: 1em;*/
	vertical-align: bottom;
	text-decoration: none;
	color: #FFFFFF;
	}

/* welcome tab >= 1024 */

#step-num-lede {
	font-family: Cambria, "Palatino", "Book Antiqua", Georgia, Calibri, Arial, serif;
	font-size: 4.1em;
	text-align: left;
	font-weight: normal;
	color: #7799BB;
	}
#welcome-lede {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;
	}
#welcome-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 1em;
	font-size: 1.5em;
	float: left;
	width: 44%;
	line-height: 1.7em;
	color: #727271;
	}
#price-txt {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.7em;
	float: none;
	width: 100%;
	line-height: 1.7em;
	color: #727271;
	}
#step-0 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
#pic-roc-st {
	max-width: 40%;
	float: none;
	display: block;
	margin: 2em;
	}
#pic-resp {
	float: left;
	max-width: 50%;
	margin: 0em;
	}
#step-0 p {
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	text-align: center;
	margin: 0em;
	font-size: 1.3em;
	float: right;
	display: inline;
	line-height: 1.9em;
	color: #727271;
	width: 50%;
	}
	
/* end of welcome >= 1024 */

#step-1 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
}
#step-1 img{
	max-width: 400px;
	float: right;
	display: block;
	margin: 2em;
	}


	
/* portfolio for >=1024 */

#step-2 {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 1em;
	text-align: center;
}
.portfolio h2{
	font-family: Cambria, Arial, Calibri, Georgia, serif;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	color: #000000;
	margin-top: 0.5em;	
	}
#pic-roc-fly{
	max-width: 300px;
	float: right;
	display: block;
	margin: 0.1em;
	}
#pic-portf {
	border: 0.1em double #CCCCCC;
	margin: auto;
	float: none;
	padding: 0em;
	display: block;
	max-width: 60%;
	margin-bottom: 2em;
	}
	
/* end of portfolio for >=1024 */

}
